.input {
  position: relative;
  width: 160px;
  height: 28px;

  &__icon-left{
    position: absolute;
    top: 5px;
    left:8px;
    z-index: 100;
  }


  &--placeholder {

    margin-left: 200px;
  }

  &--icon {
    padding-left: 40px;
    border: 1px solid gray;
    width: 120px;
    height: 28px;
    border-radius: 1px;
    padding-left: 40px;

  }
}